{% extends '@ui/modern/layout.html.twig' %}

{% block body %}
    {% include '@ui/modern/menu/_main.html.twig' %}
    {% include '@ui/modern/menu/_child.html.twig' %}

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="collapse navbar-collapse">
            {% block breadcrumb %}
                {% include '@ui/modern/_breadcrumb.html.twig' %}
            {% endblock %}
        </div>
        <ul class="navbar-nav ml-auto">
            {% include '@ui/modern/_navbar.html.twig' %}
        </ul>
    </nav>

    {% include '@ui/modern/aside/_main.html.twig' %}

    <div class="container-fluid">
        {% block flash %}{% include '@ui/base/_flash.html.twig' %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
