@import "wrapper";
@import "child";

.menu-main {
  background: #fff;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  transition: transform 0.3s;
  z-index: $zindex-fixed + 2;
  width: $main-menu-width;

  @include media-breakpoint-down(sm) {
    width: $main-menu-width - 20px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-inner {
    height: 100%;
    position: relative;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 65px;
      position: relative;
      width: 100%;

      i {
        position: relative;
        font-size: $h4-font-size;
        color: $gray-300;
      }
      &.is-active i, &:hover i {
        color: $secondary;
      }
    }
    .main-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      img {
        width: 32px;
        height: 32px;
        margin-top: -5px;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }

      i {
        font-size: $h1-font-size;
        color: $primary !important;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
        @include media-breakpoint-down(sm) {
          font-size: 2.4rem;
        }
      }
    }
  }
  &.is-dark {
    background: #344258;
    border-right: 1px solid #344258;
    ul li a {
      color: #fff;
    }
    li {
      i {
        color: #fff;
      }
      &.is-active i, &:hover i {
        color: $primary;
      }
    }
  }
}
