.lds-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 3px solid $primary;
    border-color: $primary transparent transparent transparent;
    width: 24px;
    height: 24px;
    margin: 3px;
  }

  &--64 {
    width: 64px;
    height: 64px;

    div {
      width: 51px;
      height: 51px;
      margin: 6px;
    }
  }

  .is-primary {
    border-color: $primary;
  }

  .is-secondary {
    border-color: $secondary;
  }
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.35s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.2s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.10s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  &--basic {
    border-radius: 100%;
    border: 2px solid #dfdfdf;
    border-bottom-color: transparent;
    display: inline-block;
    animation: rotate .75s 0s linear infinite;

    height: 21px;
    width: 21px;
  }

  &--primary {
    border-color: $primary $primary transparent;
  }
}
