parameters:
    chang.packages.verification.phone_number:
        ignored_request: []
        target_url: /verification_phone_number_target_url

services:
    Chang\Verification\PhoneNumber\ORMNumberChangSubscriber:
        tags: [ doctrine.event_subscriber ]

    Chang\Verification\PhoneNumber\Form\Type\ResendType:
        tags: [ form.type ]

    Chang\Verification\PhoneNumber\Form\Type\VerifyType:
        tags: [ form.type ]

    Chang\Verification\PhoneNumber\Form\Type\ValidateType:
        tags: [ form.type ]

    Chang\Verification\PhoneNumber\AccessListener:
        tags: [{ name: kernel.event_subscriber }]
        arguments:
            - '@security.token_storage'
            - '@=service("chang.option_resolver").get("verification.phone_number.target_url")'
            - '@=service("chang.option_resolver").get("verification.phone_number.ignored_request")'

imports:
    - { resource: ./checker.yml }
