<nav class="menu-main is-dark">
    <ul class="menu-main-inner">
        <li class="main-logo" title="{{ ctx_page.get('site.name', 'Home') }}">
            <a href="{{ ctx_page.get('site.url', '/') }}">
                {{ ui_mt_icon('flight_takeoff') }}
            </a>
        </li>
        {{ knp_menu_render('main', { template: '@ui/modern/menu/main.html.twig' }) }}
    </ul>
</nav>
